**.env
.vscode/
.idea/
postgres_data/
postfix_config/
keycloak_postgres_data/
postgres_intro_course_data/
postgres_team_allocation_data/
postgres_assessment_data/
postgres_self_team_allocation_data/
postgres_template_server_data/
postgres_interview_data/
justfile

**/*/.DS_Store
**/.gocache/
