name: Build and Push Clients Docker Clients

on:
  workflow_call:
    inputs:
      release_tag:
        description: "Optional image tag override"
        required: false
        type: string
    outputs:
      base_image_tag:
        description: "The tag of the base image that was built"
        value: ${{ jobs.clients-base.outputs.image_tag }}
      core_image_tag:
        description: "The tag of the core image that was built"
        value: ${{ jobs.core.outputs.image_tag }}
      template_image_tag:
        description: "The tag of the template component image that was built"
        value: ${{ jobs.template.outputs.image_tag }}
      interview_image_tag:
        description: "The tag of the interview component image that was built"
        value: ${{ jobs.interview.outputs.image_tag }}
      matching_image_tag:
        description: "The tag of the matching component image that was built"
        value: ${{ jobs.matching.outputs.image_tag }}
      intro_course_developer_image_tag:
        description: "The tag of the intro course developer component image that was built"
        value: ${{ jobs.intro-course-developer.outputs.image_tag }}
      assessment_image_tag:
        description: "The tag of the assessment component image that was built"
        value: ${{ jobs.assessment.outputs.image_tag }}
      devops_challenge_image_tag:
        description: "The tag of the devops challenge image that was built"
        value: ${{ jobs.devops-challenge.outputs.image_tag }}
      team_allocation_image_tag:
        description: "The tag of the team allocation image that was built"
        value: ${{ jobs.team-allocation.outputs.image_tag }}
      self_team_allocation_image_tag:
        description: "The tag of the self team allocation image that was built"
        value: ${{ jobs.self-team-allocation.outputs.image_tag }}

permissions:
  contents: read
  packages: write

jobs:
  clients-base:
    uses: ls1intum/.github/.github/workflows/build-and-push-docker-image.yml@v1.1.1
    with:
      image-name: ghcr.io/ls1intum/prompt2/prompt-clients-base
      docker-file: clients/Dockerfile # Defaults to Dockerfile
      docker-context: ./clients
      tags: ${{ inputs.release_tag }}
    secrets: inherit
  debug-job:
    runs-on: ubuntu-latest
    needs: clients-base
    steps:
      - name: Debug
        run: |
          echo "base_image_tag: ${{ needs.clients-base.outputs.image_tag }}"

  core:
    needs: clients-base
    uses: ls1intum/.github/.github/workflows/build-and-push-docker-image.yml@v1.1.1
    with:
      image-name: ghcr.io/ls1intum/prompt2/prompt-clients-core
      docker-file: clients/core/Dockerfile # Defaults to Dockerfile
      docker-context: ./clients/core
      tags: ${{ inputs.release_tag }}
      build-args: |
        "IMAGE_TAG=${{ needs.clients-base.outputs.image_tag }}"
        "CORE_HOST=${{ vars.CORE_HOST }}"
        "KEYCLOAK_HOST=${{ vars.KEYCLOAK_HOST }}"
        "KEYCLOAK_REALM_NAME=${{ vars.KEYCLOAK_REALM_NAME }}"
    secrets: inherit

  template:
    needs: clients-base
    uses: ls1intum/.github/.github/workflows/build-and-push-docker-image.yml@v1.1.1
    with:
      image-name: ghcr.io/ls1intum/prompt2/prompt-clients-template-component
      docker-file: clients/template_component/Dockerfile # Defaults to Dockerfile
      docker-context: ./clients/template_component
      tags: ${{ inputs.release_tag }}
      build-args: |
        "IMAGE_TAG=${{ needs.clients-base.outputs.image_tag }}"
        "CORE_HOST=${{ vars.CORE_HOST }}"
    secrets: inherit

  interview:
    needs: clients-base
    uses: ls1intum/.github/.github/workflows/build-and-push-docker-image.yml@v1.1.1
    with:
      image-name: ghcr.io/ls1intum/prompt2/prompt-clients-interview-component
      docker-file: clients/interview_component/Dockerfile # Defaults to Dockerfile
      docker-context: ./clients/interview_component
      tags: ${{ inputs.release_tag }}
      build-args: |
        "IMAGE_TAG=${{ needs.clients-base.outputs.image_tag }}"
        "CORE_HOST=${{ vars.CORE_HOST }}"
    secrets: inherit

  matching:
    needs: clients-base
    uses: ls1intum/.github/.github/workflows/build-and-push-docker-image.yml@v1.1.1
    with:
      image-name: ghcr.io/ls1intum/prompt2/prompt-clients-matching-component
      docker-file: clients/matching_component/Dockerfile # Defaults to Dockerfile
      docker-context: ./clients/matching_component
      tags: ${{ inputs.release_tag }}
      build-args: |
        "IMAGE_TAG=${{ needs.clients-base.outputs.image_tag }}"
        "CORE_HOST=${{ vars.CORE_HOST }}"
    secrets: inherit

  intro-course-developer:
    needs: clients-base
    uses: ls1intum/.github/.github/workflows/build-and-push-docker-image.yml@v1.1.1
    with:
      image-name: ghcr.io/ls1intum/prompt2/prompt-clients-intro-course-developer-component
      docker-file: clients/intro_course_developer_component/Dockerfile # Defaults to Dockerfile
      docker-context: ./clients/intro_course_developer_component
      tags: ${{ inputs.release_tag }}
      build-args: |
        "IMAGE_TAG=${{ needs.clients-base.outputs.image_tag }}"
        "CORE_HOST=${{ vars.CORE_HOST }}"
    secrets: inherit

  assessment:
    needs: clients-base
    uses: ls1intum/.github/.github/workflows/build-and-push-docker-image.yml@v1.1.1
    with:
      image-name: ghcr.io/ls1intum/prompt2/prompt-clients-assessment-component
      docker-file: clients/assessment_component/Dockerfile # Defaults to Dockerfile
      docker-context: ./clients/assessment_component
      tags: ${{ inputs.release_tag }}
      build-args: |
        "IMAGE_TAG=${{ needs.clients-base.outputs.image_tag }}"
        "CORE_HOST=${{ vars.CORE_HOST }}"
    secrets: inherit

  devops-challenge:
    needs: clients-base
    uses: ls1intum/.github/.github/workflows/build-and-push-docker-image.yml@v1.1.1
    with:
      image-name: ghcr.io/ls1intum/prompt2/prompt-clients-devops-challenge-component
      docker-file: clients/devops_challenge_component/Dockerfile # Defaults to Dockerfile
      docker-context: ./clients/devops_challenge_component
      tags: ${{ inputs.release_tag }}
      build-args: |
        "IMAGE_TAG=${{ needs.clients-base.outputs.image_tag }}"
        "CORE_HOST=${{ vars.CORE_HOST }}"
    secrets: inherit

  team-allocation:
    needs: clients-base
    uses: ls1intum/.github/.github/workflows/build-and-push-docker-image.yml@v1.1.1
    with:
      image-name: ghcr.io/ls1intum/prompt2/prompt-clients-team-allocation-component
      docker-file: clients/team_allocation_component/Dockerfile # Defaults to Dockerfile
      docker-context: ./clients/team_allocation_component
      tags: ${{ inputs.release_tag }}
      build-args: |
        "IMAGE_TAG=${{ needs.clients-base.outputs.image_tag }}"
        "CORE_HOST=${{ vars.CORE_HOST }}"
    secrets: inherit

  self-team-allocation:
      needs: clients-base
      uses: ls1intum/.github/.github/workflows/build-and-push-docker-image.yml@v1.1.1
      with:
        image-name: ghcr.io/ls1intum/prompt2/prompt-clients-self-team-allocation-component
        docker-file: clients/self_team_allocation_component/Dockerfile # Defaults to Dockerfile
        docker-context: ./clients/self_team_allocation_component
        tags: ${{ inputs.release_tag }}
        build-args: |
          "IMAGE_TAG=${{ needs.clients-base.outputs.image_tag }}"
          "CORE_HOST=${{ vars.CORE_HOST }}"
      secrets: inherit
