name: Lint Clients

on:
  workflow_call:
    inputs:
      modules:
        description: "JSON array of client modules to lint"
        required: true
        type: string

permissions:
  contents: read

jobs:
  lint-client:
    if: inputs.modules != '[]'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./clients
    strategy:
      matrix:
        module: ${{ fromJson(inputs.modules) }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-node
      - run: yarn install
      - name: Lint components in ${{ matrix.module }}
        run: yarn eslint "${{ matrix.module }}" --config "${{ matrix.module }}/eslint.config.mjs"
