name: Deploy to Prod

on:
  release:
    types: [published]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  packages: write

jobs:
  detect-changes:
    uses: ./.github/workflows/detect-changes.yml
    permissions:
      contents: read
      pull-requests: read
  lint-servers:
    needs: detect-changes
    uses: ./.github/workflows/lint-servers.yml
    secrets: inherit
    with:
      modules: ${{ needs.detect-changes.outputs.server_modules }}
  test-servers:
    needs: [detect-changes, lint-servers]
    uses: ./.github/workflows/test-servers.yml
    secrets: inherit
    with:
      directories: ${{ needs.detect-changes.outputs.server_modules }}
  build-servers:
    needs: test-servers
    uses: ./.github/workflows/build-and-push-servers.yml
    secrets: inherit
    with:
      release_tag: "${{ github.event.release.tag_name }},latest"
  lint-clients:
    needs: detect-changes
    uses: ./.github/workflows/lint-clients.yml
    secrets: inherit
    with:
      modules: ${{ needs.detect-changes.outputs.client_modules }}
  build-clients:
    needs: lint-clients
    uses: ./.github/workflows/build-and-push-clients.yml
    secrets: inherit
    with:
      release_tag: "${{ github.event.release.tag_name }},latest"
  deploy-prod:
    needs: [build-clients, build-servers]
    uses: ./.github/workflows/deploy-docker.yml
    secrets: inherit
    with:
      environment: prompt-prod-vm
      core_image_tag: ${{ needs.build-clients.outputs.core_image_tag }}
      template_image_tag: ${{ needs.build-clients.outputs.template_image_tag }}
      interview_image_tag: ${{ needs.build-clients.outputs.interview_image_tag }}
      matching_image_tag: ${{ needs.build-clients.outputs.matching_image_tag }}
      intro_course_developer_image_tag: ${{ needs.build-clients.outputs.intro_course_developer_image_tag }}
      assessment_image_tag: ${{ needs.build-clients.outputs.assessment_image_tag }}
      team_allocation_image_tag: ${{ needs.build-clients.outputs.team_allocation_image_tag }}
      self_team_allocation_image_tag: ${{ needs.build-clients.outputs.self_team_allocation_image_tag }}
      server_core_image_tag: ${{ needs.build-servers.outputs.server_core_image_tag }}
      server_intro_course_image_tag: ${{ needs.build-servers.outputs.server_intro_course_image_tag }}
      server_team_allocation_image_tag: ${{ needs.build-servers.outputs.server_team_allocation_image_tag }}
      server_assessment_image_tag: ${{ needs.build-servers.outputs.server_assessment_image_tag }}
      devops_challenge_image_tag: ${{ needs.build-clients.outputs.devops_challenge_image_tag }}
      server_self_team_allocation_image_tag: ${{ needs.build-servers.outputs.server_self_team_allocation_image_tag }}
