name: Test Go Servers

on:
  workflow_call:

permissions:
  contents: read

jobs:
  set-matrix:
    runs-on: ubuntu-latest
    outputs:
      directories: ${{ steps.set-matrix.outputs.directories }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: tj-actions/changed-files@v45
        id: changed
        with:
          files: servers/**/
          dir_names: true
          dir_names_max_depth: 2
          json: true
      - id: set-matrix
        run: |
          DIRS=$(echo '${{ steps.changed.outputs.all_changed_files }}' | jq -c '[.[] | split("/")[1]]')
          echo "directories<<EOF" >> $GITHUB_OUTPUT
          echo "$DIRS" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

  test:
    runs-on: ubuntu-latest
    needs: set-matrix
    if: needs.set-matrix.outputs.directories != '[]'
    strategy:
      matrix:
        directory: ${{ fromJson(needs.set-matrix.outputs.directories) }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22
          cache-dependency-path: "**/*.sum"
      - name: Install dependencies
        run: cd servers/${{ matrix.directory }} && go mod download
      - name: Test with Go
        env:
          TESTCONTAINERS_RYUK_DISABLED: "true"
        run: cd servers/${{ matrix.directory }} && go test ./... -json > TestResults-${{ matrix.directory }}.json
      - name: Upload Go test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Go-results-${{ matrix.directory }}
          path: ./servers/${{ matrix.directory }}/TestResults-${{ matrix.directory }}.json
