name: Test Go Servers

on:
  workflow_call:
    inputs:
      directories:
        description: "JSON array of server modules to test"
        required: true
        type: string

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    if: inputs.directories != '[]'
    strategy:
      matrix:
        directory: ${{ fromJson(inputs.directories) }}
    steps:
      - uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25
          cache-dependency-path: "**/*.sum"
      - name: Install dependencies
        run: cd servers/${{ matrix.directory }} && go mod download
      - name: Test with Go
        env:
          TESTCONTAINERS_RYUK_DISABLED: "true"
        run: cd servers/${{ matrix.directory }} && go test ./... -json > TestResults-${{ matrix.directory }}.json
      - name: Upload Go test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Go-results-${{ matrix.directory }}
          path: ./servers/${{ matrix.directory }}/TestResults-${{ matrix.directory }}.json
