name: Test Go Servers

on:
  workflow_call:

permissions:
  contents: read

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      assessment-changed: ${{ steps.changes.outputs.assessment }}
      core-changed: ${{ steps.changes.outputs.core }}
      intro_course-changed: ${{ steps.changes.outputs.intro_course }}
      team_allocation-changed: ${{ steps.changes.outputs.team_allocation }}
      self_team_allocation-changed: ${{ steps.changes.outputs.self_team_allocation }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            assessment:
              - 'servers/assessment/**'
            core:
              - 'servers/core/**'
            intro_course:
              - 'servers/intro_course/**'
            self_team_allocation:
              - 'servers/self_team_allocation/**'
            team_allocation:
              - 'servers/team_allocation/**'

  test:
    runs-on: ubuntu-latest
    needs: detect-changes
    if: |
      needs.detect-changes.outputs.assessment-changed == 'true' ||
      needs.detect-changes.outputs.core-changed       == 'true' ||
      needs.detect-changes.outputs.intro_course-changed == 'true' ||
      needs.detect-changes.outputs.self_team_allocation-changed == 'true' ||
      needs.detect-changes.outputs.team_allocation-changed == 'true'
    strategy:
      matrix:
        directory:
          - ${{ needs.detect-changes.outputs.assessment-changed == 'true' && 'assessment' || '' }}
          - ${{ needs.detect-changes.outputs.core-changed       == 'true' && 'core'       || '' }}
          - ${{ needs.detect-changes.outputs.intro_course-changed == 'true' && 'intro_course' || '' }}
          - ${{ needs.detect-changes.outputs.self_team_allocation-changed == 'true' && 'self_team_allocation' || '' }}
          - ${{ needs.detect-changes.outputs.team_allocation-changed == 'true' && 'team_allocation' || '' }}
        exclude:
          - directory: ""
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25
          cache-dependency-path: "**/*.sum"
      - name: Install dependencies
        run: cd servers/${{ matrix.directory }} && go mod download
      - name: Test with Go
        env:
          TESTCONTAINERS_RYUK_DISABLED: "true"
        run: cd servers/${{ matrix.directory }} && go test ./... -json > TestResults-${{ matrix.directory }}.json
      - name: Upload Go test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Go-results-${{ matrix.directory }}
          path: ./servers/${{ matrix.directory }}/TestResults-${{ matrix.directory }}.json
